
*{
	background-color: #EFEFEF !important;
  background-image: url("https://www.transparenttextures.com/patterns/fabric-of-squares.png");
	color: #A9A9A9;
  font-family: 'Lato', sans-serif;
}
h1{
	margin-top: 5% !important;
	margin-bottom: 2.5% !important;
  font-family: 'Oswald', sans-serif !important;
}
input {
  border: 0 !important;
  outline: 0 !important;
  background: transparent !important;
  border-bottom: 1px solid #A9A9A9 !important;
  border-radius: 0 !important;
  width: 30% !important;
  color: #FF3B3F !important;
  text-align: center;
  font-family: 'Lato', sans-serif;
}

#wikiLink{
	color: #A9A9A9;
}
#wikiLink:hover{
	color: #FF3B3F;
	text-decoration: none;
}
#wikiLink:active{
  text-decoration: none;
}
#wikiLink:visited{
  color: #FF3B3F !important;
}

#searchBut{
	color: #A9A9A9 !important;
  background-color: transparent !important;
	margin-top: 2%;
  margin-bottom: 2%;
  font-family: 'Lato', sans-serif;
}
#searchBut:hover{
	background-color: #FF3B3F !important;
}

#output{
  text-align: left !important;
}

ul{
  margin-left: 10%;
  margin-right: 10%;
}

li{
  display: block;
  list-style: none;
}
li a{
  color: #A9A9A9;
  font-size: 20px;
  font-family: 'Roboto Mono', sans-serif;
}
li a:hover{
  color: #FF3B3F;
  text-decoration: none;
}
li a:active{
  color: #FF3B3F;
  text-decoration: none;
}
li a:visited{
  color: #FF3B3F;
}

p{
  padding-left: 1.5%;
}

p a{
  color: #A9A9A9 !important;
}
p a:hover{
  text-decoration: none;
  color: #FF3B3F !important;
}

img{
  width: 1.5%;
}
